data_backup
Housing Price Coordinates.py
Housing Price Dataset.py
Housing Price Inflation.py
Housing Price Model.py
Housing Price EDA.py
unique_house_coordinates.csv
/data/resale_df_raw.csv
/resale_prices_deployment/models/datasets.py
/resale_prices_deployment/test.py
/resale_prices_deployment/input.jpg
/resale_prices_deployment/output.jpg