Housing Price Coordinates.py
Housing Price Dataset.py
Housing Price Inflation.py
Housing Price Model.py
Housing Price EDA.py
raw_resale_price.csv
unique_house_coordinates.csv
/resale_prices_deployment/models/datasets.py
/resale_prices_deployment/test.py